<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.2.xsd"
        name="hibiscus.milesandmore" version="1.0.7" class="org.jameica.hibiscus.milesandmore.Plugin">

  <description>Hibiscus-Support für Miles and More</description>
  <url>http://www.open4me.de/hibiscus/hibiscus.milesandmore/hibiscus.milesandmore.zip</url>
  <homepage>https://github.com/littleyoda/hibiscus.milesandmore</homepage>
  <license></license>

  <requires jameica="2.6.0+">
    <import plugin="hibiscus" version="2.6.11+" />
    <import plugin="hibiscus.scripting.htmlunit" version="2.13+" />
  </requires>

  <classfinder>
    <include>hibiscus\.milesandmore\.jar</include>
    <include>.*\.class</include>
  </classfinder>

</plugin>
